@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */
.body {
   background-image: url("/img/bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.select-lang {
   @apply relative ml-auto inline-flex w-fit cursor-pointer appearance-none items-center gap-1 rounded-md border border-border px-3 py-[6px] after:block after:h-4 after:w-4 after:content-[""];
}

.select-area,
.select-langs,
.select-tariff,
.select-payment {
   @apply relative mb-3 ml-auto flex min-h-10 w-full cursor-pointer appearance-none items-center justify-between gap-1 rounded-md border border-border px-3 py-[6px] after:block after:h-4 after:w-4 after:content-[""];
}

.select-langs {
   @apply p-0 pr-3;
}

.select-lang::after,
.select-area::after,
.select-langs::after,
.select-tariff::after,
.select-payment::after {
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6' /%3E%3C/svg%3E");
   background-repeat: no-repeat;
   background-size: cover;
}

.choices__list--dropdown {
   @apply absolute left-0 top-full z-10 hidden max-h-[300px] w-full overflow-hidden overflow-y-scroll break-words border-border bg-white;
}

.choices__list--dropdown.is-active {
   @apply block rounded-b-md border border-border;
}

.choices__input {
   @apply mb-0 hidden text-sm;
}

.choices__input--cloned {
   @apply mx-1 block w-full appearance-none border bg-slate-50 px-2 py-2 align-baseline focus:border-blue-600 focus:outline-none;
}

.choices__heading {
   @apply block w-full cursor-not-allowed border-b border-t border-b-border border-t-border px-2 py-3 text-center uppercase text-[#adb5bd];
}

.select-area .select-item.select-choice {
   @apply px-5 py-2;
}

.select-item.select-choice {
   @apply px-2 py-2;
}
.select-item.select-choice:hover {
   @apply bg-slate-200;
}

.select-item.select-choice.is-selected {
   @apply bg-blue-600 text-white;
}

.choices__list--multiple {
   @apply flex flex-wrap items-center;
}

.choices__list--multiple .choices__item--selectable {
   @apply mb-2 ml-2 mt-2 inline-block rounded border border-border px-2 py-1;
}
.choices__list--multiple + .choices__input--cloned {
   @apply m-0 block h-full min-h-10 border-none bg-transparent px-3 py-[6px] text-base text-primary outline-none outline-offset-0;
   width: 100px !important;
}

.choices__list--multiple .choices__item--selectable > .choices__button {
   @apply ml-1 inline-block;
}

.select-langs > .select-inner {
   @apply flex w-full flex-wrap items-center gap-1;
}

.iti {
   @apply w-full;
}
@import "./intlTelInput";
/* purgecss end ignore */
